.main {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

  background: linear-gradient(
    90deg,
    transparent 30%,
    var(--secondary-background-color) 30%
  );

  padding: 5% 20%;
  margin: 50px 0;
  transition: all ease 0.7s;
}

@media only screen and (max-width: 660px) {
  .main {
    height: fit-content;
    flex-flow: column;
    gap: 0;

    background: var(--background-color);

    padding: 5% 0;
  }
}

.image,
.content {
  display: flex;
  flex-flow: column;
  justify-content: center;

  position: relative;

  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 660px) {
  .image,
  .content {
    width: 100%;
  }
}

.image {
  overflow: hidden;
}

@media only screen and (max-width: 660px) {
  .image {
    margin-top: -500px;
    min-height: 1000px;
  }

  .image img {
    min-height: 500px;
  }
}

.image img {
  object-fit: cover;
}

.content {
  color: var(--text-color);
}

@media only screen and (max-width: 660px) {
  .content {
    padding: 10%;
  }
}

.content h1 {
  margin-bottom: 0;
  font-size: 2.5em;
  font-family: "URW Geometric SemiBold";
}

.content h3 {
  margin: 10px 0;
  font-family: "Daikon SemiBold";
}

.content p {
  font-family: "Daikon Medium";
}

.content a {
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;

  margin: 30px 0;
  padding: 10px 20px;

  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: solid 1px #000;
  border-radius: 44px;
}

.content h1,
.content h3,
.content p,
.content a {
  position: relative;
}
