.main {
  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  color: white;
  background-color: var(--background-color);
  transition: all ease 0.7s;
}

.small_heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;

  font-family: "Daikon Medium";
  font-size: 1em;
}

.large_heading {
  font-family: "URW Geometric SemiBold";
  font-size: 2.5em;
  margin: 15px 0;
}

.headings {
  position: relative;
  margin-left: 10%;
  margin-bottom: 25px;
}
.slider {
  height: 55vh;
  width: 100%;
}

.slide {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.slide div {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.slide div img {
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.slide h3 {
  font-size: 14px;
  font-family: "Daikon Medium";
  text-transform: uppercase;
  letter-spacing: 3px;
}
.slide h1 {
  margin: 0;
  margin-bottom: 10px;
  font-family: "URW Geometric SemiBold";
}
.slide a {
  padding: 10px;
  text-transform: uppercase;
  font-family: "Daikon Medium";
}

.pagination {
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 5px;

  margin: 10px auto;
  padding: 10px;
}

.bullet {
  position: relative;
  height: 10px;
  width: 15px;
  background-color: var(--background-color);

  transition: all ease 0.4s;
}
.bullet::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 2px;
  width: 100%;

  background-color: var(--text-color);
}

.bullet_active {
  width: 40px;
}
