.main {
  height: 100vh;
  width: 100%;

  background-color: rgb(5, 5, 5);

  padding: 50px 0;
}

@media only screen and (max-width: 660px) {
  .main {
    height: fit-content;
  }
}

@media only screen and (max-width: 980px) {
  .main {
    height: fit-content;
  }
}

.heading {
  opacity: 0;
  margin: 0 auto;
  padding: 10px 0;
  color: white;
  font-family: "URW Geometric SemiBold";
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 660px) {
  .heading {
    padding: 10px 20px;
  }
}

.container {
  min-height: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  color: white;
}

@media only screen and (max-width: 660px) {
  .container {
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 980px) {
  .container {
    display: flex;
    flex-flow: column;
  }
}

.text_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;

  padding: 30px 20%;
}

@media only screen and (max-width: 660px) {
  .text_content {
    text-align: center;
  }
}
.text_content p {
  color: rgb(163, 163, 163);
  font-size: 1.2em;
  font-family: "Daikon Light";
}
.text_content p span {
  position: relative;
}

.designer_name {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;

  text-align: left;
  font-size: 1.2em;
  font-family: "Daikon Medium";

  padding: 10px 0;
}
@media only screen and (max-width: 660px) {
  .designer_name {
    flex-flow: column;
  }
}
.designer_name div {
  height: 1px;
  width: 100px;
  background-color: white;
}

.experience {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  margin: 1em 0;

  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Daikon Bold";
}
@media only screen and (max-width: 660px) {
  .experience {
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-bottom: 20px;
  }
  .experience span:first-child {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    line-height: 30px;
  }
}

.image_content {
  padding: 10%;
  background-color: rgb(27, 27, 27);
}

@media only screen and (max-width: 660px) {
  .image_content {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .image_content {
    height: 500px;
    padding: 0;
  }
}

.image_container {
  position: relative;

  height: 100%;
  width: 100%;
}

.image_container img {
  object-fit: cover;
}
