@font-face {
  font-family: 'Daikon Bold';
  src: url(../cms/fonts/Daikon/Daikon-Bold.ttf);
}

@font-face {
  font-family: "Daikon SemiBold";
  src: url(../cms/fonts/Daikon/Daikon-SemiBold.ttf);
}

@font-face {
  font-family: "Daikon Medium";
  src: url(../cms/fonts/Daikon/Daikon-Medium.ttf);
}

@font-face {
  font-family: 'Daikon Light';
  src: url(../cms/fonts/Daikon/Daikon-Light.ttf);
}

@font-face {
  font-family: "URW Geometric SemiBold";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricSemiBold.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.active-thumb {
  left: 0px;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
