.main {
  position: relative;
  background-color: rgb(0, 0, 0);

  height: 100vh;
  width: 100vw;
}

.slider {
  height: 100%;

  margin-left: 15%;

  background-color: black;
}

@media only screen and (max-width: 1000px) {
  .slider {
    margin-left: 0%;
  }
}

.slide {
  position: relative;
}
.slide img {
  object-fit: cover;
}

.slide_content_wrapper {
  max-width: 50%;

  position: absolute;
  top: 50%;
  left: 0%;

  transform: translate(0, -50%);
}
@media only screen and (max-width: 1000px) {
  .slide_content_wrapper {
    max-width: 100%;
  }
}

.slide_content {
  position: relative;

  height: fit-content;
  width: fit-content;

  color: white;
}

.slide_content__category {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;

  text-transform: uppercase;
}
.slide_content__category div {
  height: 1px;
  width: 100px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 58%,
    rgba(255, 255, 255, 1) 100%
  );
}

.slide_content h1 {
  font-size: 3.5em;
  margin: 10px;
  margin-left: 30px;
}
@media only screen and (max-width: 660px) {
  .slide_content h1 {
    font-size: 2.5em;
  }
}

.slide_content p {
  margin: 20px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.slide_content a {
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;

  margin: 50px;
  padding: 10px 20px;

  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: solid 1px #fff;
  border-radius: 44px;
}

.slide_number {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 9em;
  font-family: "URW Geometric SemiBold";
  margin: 0;
  z-index: 10;
  color: rgba(53, 53, 53, 0.37);
  -webkit-text-stroke: rgb(31, 30, 30) 1px;
}

@media only screen and (max-width: 660px) {
  .slide_number {
    font-size: 7em;
    bottom: 15%;

    color: rgba(53, 53, 53, 0.644);
    -webkit-text-stroke: rgb(7, 7, 7) 1px;
  }
}

.current_slide_and_thumb_slider {
  display: flex;
  flex-flow: row nowrap;

  position: absolute;
  top: 50%;
  left: 0;

  min-height: 100px;
  width: 100%;

  border: solid 1px black;

  z-index: 10;
}

.thumb_slider_container {
  height: 250px;
  width: 150px;

  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(0, -50%);

  background-color: transparent;
}

.thumb_slider {
  height: 100%;
  width: 100%;

  padding: 5px 0;

  background-color: transparent;
}

.thumb_slide {
  position: relative;
  left: -100px;
  border-radius: 8px;
  transition: all ease 0.5s;
}
.thumb_slide img {
  object-fit: cover;
  border-radius: 8px;
}
.thumb_slide h3 {
  position: absolute;
  top: -10%;
  right: 3px;
  margin: 0;
  color: white;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;

  position: absolute;
  right: 5%;
  bottom: 10%;

  z-index: 1;
}

@media only screen and (max-width: 660px) {
  .navigation {
    bottom: 15%;
  }
}

.nav_prev,
.nav_next {
  position: relative;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-size: 1.5em;

  padding: 5px;

  border: solid 1px white;
  border-radius: 999px;
}
